__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/
.env

storage/**/*.jsonl
storage/schema/*.json
data/raw/*
data/processed/
data/cleaned/*
data/enriched/
data/output/*

!data/raw/.gitkeep
!data/raw/final_test/
!data/raw/final_test/**
!data/processed/.gitkeep
!data/cleaned/.gitkeep
!data/enriched/.gitkeep
!data/output/.gitkeep
!storage/schema/.gitkeep
!storage/vector_db/.gitkeep
!storage/db/.gitkeep
